/* CSS Document */
* {
  margin: 0px;
  padding: 0px;
}

html {
	height: 100%;
}

* html body {
	height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  background-image:url('../img/fon.png');
  background-repeat:repeat;
}

.container{
	max-width:1280px;
	margin:0px 20px;

}

.logo{
	padding:22px 0px 20px 14px

}


.copy p{
	line-height:normal;
	letter-spacing:normal;
	padding:0 10px 0px 8px;
	font-family:"Times New Roman";
	font-weight:500;
	font-size:12pt;
}
.copy{	
  	height: 80px;


}

.content p{
	font-family:"Myriad Pro";
	font-style:italic;
	font-weight:500;
	font-size:16pt;
	padding:20px 0; margin: 0;

}
.content{
	position:relative; 
	height:auto !important;; 
	padding:0px 50px 0px 50px;	
	text-align: justify;
}
.text{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	padding:10px;

}
.empty {
	height:100px; 
}

.content span{
	font-family:"Myriad Pro";
	font-style:italic;
	font-size:14pt;

}
hr {
  margin: 0 auto;
}
p.caption{
	text-align:center;
	font-family:"Myriad Pro";
	font-style:italic;
	font-weight:500;
	font-size:24pt;
	line-height: 1em;
}

p.desc{
	font-family:"Myriad Pro";
	font-style:italic;
	font-size:14pt;
	text-align: center;
	
	
}

p.god{
	text-align:center;
	font-family:"Myriad Pro";
	font-style:italic;
	font-weight:500;
	font-size:16pt;

}
p.avtor{
	text-align:center;
	font-family:"Myriad Pro";
	font-style:italic;
	font-weight:500;
	font-size:14pt;

}